<template>
  <div id="app">
    <Header />
    <Rooms />
  </div>
</template>

<script>
import Header from "./components/Header";
import Rooms from "./components/Rooms";

export default {
  name: "App",
  components: {
    Rooms,
    Header,
  },
  created() {
    document.title = "Station F";
  },
};
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}

body {
  margin: 0 !important;
  background-color: #f9f9f9;
}

button#button {
  background-color: #258ffc;
  color: white;
  border: 0px;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  font-size: 16px;
}
</style>
