<template>
  <div id="header">
    <img id="stationf" alt="Station F logo" src="../assets/station-f.png" />
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style>
#header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 60px;
}
img#stationf {
  display: flex;
  height: 40px;
  margin-left: 10px;
}
</style>
