<template>
  <div id="result">
    <ul>
      <h3>{{ "Pour le " + formattedDate }}</h3>
      <li
        v-for="room of rooms"
        :key="room._id"
        @click="booking = room._id"
        :class="{ selected: isSelected(room._id) }"
      >
        <p id="name">{{ room.name }}</p>
        <p>Capacité: {{ room.capacity }}</p>
        <div id="equipements">
          Equipements :
          <p
            id="equ"
            v-for="equipement in room.equipements"
            :key="equipement.name"
          >
            {{ equipement.name }}
          </p>
        </div>
      </li>
    </ul>
    <br /><button id="button" v-on:click="createBooking">Réserver</button>
  </div>
</template>

<script>
import axios from "axios";

const baseUrl =
  process.env.NODE_ENV === "production" ? "" : "http://localhost:3000";

export default {
  name: "Result",
  data() {
    return {
      booking: null,
    };
  },
  props: ["rooms", "date"],
  computed: {
    formattedDate() {
      const date = new Date(this.date);
      const options = { hour: "2-digit", minute: "2-digit" };
      const formattedDate =
        new Date(date).toLocaleDateString("fr-FR") +
        " à " +
        new Date(date).toLocaleTimeString("fr-FR", options);
      return formattedDate;
    },
  },
  methods: {
    createBooking() {
      if (!this.booking) {
        this.$toast.error("Aucune salle n'a été selectionnée !");
        return;
      }
      axios
        .post(`${baseUrl}/booking`, {
          roomId: this.booking,
          date: this.date,
        })
        .then(() => {
          this.$toast.success("Salle réservée pour le " + this.formattedDate);
          this.$parent.rooms = null;
          this.$parent.date = null;
          this.$parent.capacity = null;
          this.$parent.equipements = [];
        })
        .catch((err) => {
          this.$toast.error(
            `Erreur pendant la réservation : ${err.response.data}`
          );
        });
    },
    isSelected(roomId) {
      if (roomId === this.booking) return true;
      return false;
    },
  },
};
</script>

<style scoped>
h3 {
  margin: 30px 0 30px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
  width: 80%;
  min-width: 700px;
}

li {
  display: flex;
  padding: 10px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 0px 8px grey;
  margin: 16px;
}

li.selected {
  background-color: #bfdfff;
  border: solid #258ffc;
}

li #info {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 0;
}

li p:not(#equ) {
  display: flex;
  flex: 1 0 auto;
  width: 20%;
}

li #name {
  margin-left: 0px !important;
}

li #equipements {
  display: flex;
  flex: 2 0 auto;
  flex-direction: row;
  margin-left: 5%;
  width: 35%;
}

li #equipements p {
  text-decoration: underline dotted;
}

li p {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 10px;
}
</style>
