<template>
  <div class="Rooms">
    <i class="fas fa-user-clock fa-9x"></i>
    <h1>Réservation de salles</h1>
    <div id="filters">
      <div id="date">
        <VueCtkDateTimePicker
          v-model="date"
          label="Selectionner date/heure"
          format="YYYY-MM-DD HH:mm"
        />
      </div>
      <div id="equipements">
        <input type="checkbox" id="tv" value="TV" v-model="equipements" />
        <label for="tv">TV</label>
      </div>
      <div id="equipements">
        <input
          type="checkbox"
          id="projecteur"
          value="Retro Projecteur"
          v-model="equipements"
        />
        <label for="projecteur">Retro Projecteur</label>
      </div>
      <div id="capacity">
        <label for="capacity">Capacité : </label>
        <input
          id="capacity"
          type="number"
          onkeypress="return event.charCode >= 48"
          min="1"
          v-model="capacity"
        />
      </div>
      <button id="button" v-on:click="searchRooms">Rechercher</button>
    </div>
    <Result v-if="rooms" :rooms="rooms" :date="savedDate" />
  </div>
</template>

<script>
import axios from "axios";
import VueCtkDateTimePicker from "vue-ctk-date-time-picker";
import Result from "./Result.vue";

const baseUrl =
  process.env.NODE_ENV === "production" ? "" : "http://localhost:3000";

export default {
  components: {
    VueCtkDateTimePicker,
    Result,
  },
  name: "Rooms",
  data() {
    return {
      rooms: null,
      date: null,
      savedDate: null,
      capacity: null,
      equipements: [],
    };
  },
  methods: {
    searchRooms() {
      if (this.capacity <= 0) this.capacity = 1;
      this.savedDate = this.date;
      if (!this.date || !this.capacity) {
        this.$toast.error(`Champs manquants ! (Date ou Capacité)`);
        return;
      }
      axios
        .post(`${baseUrl}/available-rooms`, {
          date: this.date,
          capacity: this.capacity,
          equipements: this.equipements,
        })
        .then((res) => {
          this.rooms = res.data;
          if (this.rooms.length)
            this.$toast.success("Voici les salles disponibles !");
          else {
            this.rooms = null;
            this.$toast.error("Pas de salle disponible pour cette recherche !");
          }
        })
        .catch((err) => {
          this.$toast.error(`Erreur pendant la recherche ! ${err}`);
        });
    },
  },
};
</script>

<style scoped>
.Rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  min-width: 870px;
  margin: auto;
  padding-top: 30px;
}

#filters {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 2px solid #aeaeae;
  border-radius: 10px;
}

#date {
  width: 220px;
}

div#capacity input {
  width: 40px;
}
</style>
<style src="vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css" />